/* DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body>*, .general-container>* {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid red;
}

.play-bar {
    flex-shrink: 0;
}

.general-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
}

.nav-bar {
    display: flex;
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.logo-spotify {
    width: 80%;
    padding: 1rem;
}

.general-container .nav-btn-container {
    
}

.home, .search, .library {
    color: white;
    display: flex;
    width: 15%;
    gap: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    align-items: center;
}

